<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD65dV1WzglFuH2qTAlXRzW4fPRa7oZWK0</string>
	<key>GCM_SENDER_ID</key>
	<string>748017416417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jumpinghigh.jumpingHighPlus</string>
	<key>PROJECT_ID</key>
	<string>jumpinghigh-user-app</string>
	<key>STORAGE_BUCKET</key>
	<string>jumpinghigh-user-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:748017416417:ios:f8d61afb177bf74d495fa0</string>
</dict>
</plist>